<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MonthYear" value="2022-03"/>
		<add key="ColumnHeaderRowNumber" value="4"/>
		<add key="RainfallDataStartingColumnNumber" value="4"/>
		<add key="FileName" value="C:\Projects\BMGF\Automation\Rainfall\ActualReportAllBlock\AllData.xlsx"/>
		<add key="DataAvailableDays" value="31 "/>
		<add key="UserId" value="DI1601"/>
	</appSettings>
	<connectionStrings>
		<add name="RainfallConnectionString" connectionString="Data Source=tcp:adidaas-sqldb.database.windows.net,1433;Initial Catalog=adidaasdb;Persist Security Info=False;User ID=adidaas_rw;Password=Bihan@321;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=900;"/>
	</connectionStrings>
</configuration>